@font-face {
  font-family: odinFont;
  src: url('font/Norse-Bold.otf')  format('truetype');
}

.main-container{
  display: flex;
  /* border: 1px solid black; */
  height: 100vh;
}
.divider-container{
  /* border: 1px solid red; */
  position: relative;
}

.divider-container:first-child{
  flex:4;
  background-image:url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.divider-container:last-child{
  flex:6;
  padding: 30px;
}
.logo-container{
  flex:1;
}
.logo-container:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logo-container:first-child div{
  background-color:rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.logo-container:first-child div p{
  font-family: odinFont;
  font-size: 100px;
  color: white;
  margin: 0px;
}
.logo-container:first-child img{
  height: 12vh;
  /* display: block; */
  vertical-align: bottom;

}
.logo-container:last-child{
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: Roboto;
  color: white;
}
.message-container{
  height: 32vh;
  padding-right: 45vh;
}
.message-container p {
  font-family: Roboto;
  font-size: 1.5vw;
  max-width: 100%;
}

.form-main-container{
  display: flex;
}
.form-divider-container{
  flex:0.4
}
label{
  display: block;
  font-family: Roboto;
  font-size: small;
  font-weight:500;
}
input{
  margin-bottom: 10px;
  padding: 5px 10px;
}
button{
  padding: 10px 30px;
  font-family: roboto;
  font-size: 15px;
  color: white;
  background-color: rgb(89,109,72);
  border-radius: 10px;
  border: none;
}